$icons: (
    chevron-up:         '\ea0A',
    stop:               '\ea0B',
    voice-phone:        '\ea0C',
    voice-scan:         '\ea0D',
    analytic:           '\ea01',
    chevron-down:         '\ea02',
    chevron-left:         '\ea03',
    chevron-right:        '\ea04',
    check:              '\ea05',
    close:              '\ea06',
    diagram:            '\ea07',
    mail:               '\ea08',
    play:               '\ea09',
    basket:             '\ea0E',
    bot-ac:             '\ea0F',
    calendar:           '\ea10',
    comment:            '\ea11',
    done:               '\ea12',
    done-circle:        '\ea13',
    refresh:            '\ea14',
    sale:               '\ea15',
    trash-out:          '\ea16',
);
