{
    "presets": [["@babel/preset-env", { "modules": false }]],
    "plugins": [
        "syntax-dynamic-import",
        ["module-resolver", {
            "root": ["./resources"],
            "alias": {
                "@": "./resources"
            }
        }]
    ]
}
